.connectWallet {
  > div {
    margin: auto;
    width: fit-content;
    text-align: center;
    > button {
      margin: 30px auto 0 auto;
    }
    > p {
      margin-bottom: 25px;
      > span {
        display: inline-block;
      }
    }
  }
  h1 {
    margin: 0 0 15px 0;
  }
}
